body
{
  color: white;
 background:linear-gradient(rgb(182, 255, 140) 0%, rgb(103, 255, 252) 40%, rgb(253, 145, 255) 70%, yellow 100%);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}

.btn-info:hover {

  width: 500px;
  height: 100px;
  background-color: rgb(238, 0, 255);

}

.btn-warning:hover {

  width: 130px;
  height: 50px;
  background-color: rgb(255, 0, 0);

}

.btn-success:hover {

  width: 130px;
  height: 50px;
  background-color: rgb(38, 0, 255);

}





























